/* styles/CookieConsentBanner.module.css */

.banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Certifique-se de que o valor seja alto o suficiente */
}

.banner p {
  margin: 10px 0;
}

.banner button {
  margin: 10px;
  padding: 10px 20px;
}
