/* styles/Home.module.css */
.container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    align-items: center;
    background: linear-gradient(135deg, #d8d9d8, #cfd5d3); /* Cor atualizada */
    padding-top: 30px;
    padding-bottom: 130px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }

  .actionButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espaço entre os botões */
    justify-content: center;
  }

  .actionButton {
    padding: 12px;
    margin-right: 10px;
    border: none;
    background-color: #2c3e50;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
  }

  /* Estilos para o select */
  .domainSelect {
      padding: 12px;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 200px;
  }

  /* Estilos para o input */
  .domainInput {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }

  .main {
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    width: 90%;
    max-width: 1000px;
    text-align: center;
  }

  .menu {
    background-color: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    width: 20%;
    max-width: 800px;
    text-align: center;
  }

  .header {
    border-radius: 8px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .hiddenInput {
    display: none;
  }
  
  .title {
    font-size: 39px;
    text-align: center;
 }

  .headerButton {
    background-color: red;
    color: white;
    margin: 22px;
    max-width: 200px;
    width: 100%;
    font-weight: bold;
  }

  .description {
    line-height: 1.5;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    color:rgb(0, 0, 0);
    max-width: 400px;
    padding-bottom: 20px;
  }

  .descProductName {
    color: rgb(236, 194, 24)
  }
  
  .featuresList {
    text-align: left;
    list-style: none;
    padding: 0;
  }
  
  .featuresList li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
  
  .featuresList i {
    font-size: 24px;
    margin-right: 10px;
    color: #3dae8a; /* Cor atualizada */
  }
  
  .button {
    display: inline-block;
    border-radius: 20px;
    padding: 0.75rem 2rem;
    margin-top: 20px;
    background-color: #3dae8a; /* Cor atualizada */
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: darken(#3dae8a, 10%); /* Escurecer a cor ao passar o mouse */
  }
  
  .loginButton {
    display: inline-block;
    border-radius: 20px;
    padding: 0.75rem 2rem;
    margin-top: 20px;
    color: #3dae8a;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s;
}
   

.buttonContainer {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
}

.editTitleIcon {
  cursor: pointer;
  color: #ffffff; /* Cor para combinar com o esquema de cores do botão */
  font-size: 30px; /* Menor que o ícone */

}

.editDescriptionIcon {
  cursor: pointer;
  color: #3dae8a; /* Cor para combinar com o esquema de cores do botão */
  font-size: 30px; /* Menor que o ícone */
  
}

.descriptionContainer {
  display: flex;
  flex-direction: row;
  justify-content:center;
  gap: 10px;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  gap: 10px;
  margin-left: 80px;
}


.certifiedImageContainer {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  gap: 10px;
}

.editCertifiedImageIcon {
  cursor: pointer;
  color: #3dae8a; /* Cor para combinar com o esquema de cores do botão */
  font-size: 30px; /* Menor que o ícone */

}

.subscribeButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  gap: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}

.subscribeButtonIcon {
  cursor: pointer;
  color: #3dae8a; /* Cor para combinar com o esquema de cores do botão */
  font-size: 30px; /* Menor que o ícone */
  margin-right: 10px;
}

.subscribeButton {
  border-radius: 20px;
  padding: 0.75rem 2rem;
  margin-top: 20px;
  background-color: yellow; /* Cor atualizada */
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: x-large;
  transition: background-color 0.3s;
}

.footerEditIcon {
  cursor: pointer;
  color: #3dae8a; /* Cor para combinar com o esquema de cores do botão */
  font-size: 30px; /* Menor que o ícone */
  

}

.imageContainer {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  margin-top:20px;
  margin-bottom: 12px;
}

.editImage {
  cursor: pointer;
  color: #3dae8a; /* Cor para combinar com o esquema de cores do botão */
  font-size: 30px; /* Menor que o ícone */
}

.editImageButton {
  cursor: pointer;
  color: #3dae8a; /* Cor para combinar com o esquema de cores do botão */
  font-size: 30px; /* Menor que o ícone */
  background-color: transparent;
  padding: 0 !important;
  margin: 0 !important;
}

.editTopButtonIcon {
  cursor: pointer;
  color: #ffffff; /* Cor para combinar com o esquema de cores do botão */
  font-size: 30px; /* Menor que o ícone */
}
.footer {
    margin-top: 60px;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #666;
}
.footer a {
    color: #007bff;
    text-decoration: none;
}

@media (max-width: 600px) {
  .buttonContainer {
    display: none;
  }
 
  .subscribeButtonContainer {
    flex-direction: column;
    gap: 0px;
  }

  .imageContainer {
    flex-direction: column;
    gap: 0px;
  }

  .certifiedImageContainer {
    flex-direction: column;
    gap: 0px;
  }

  .descriptionContainer {
    flex-direction: column;
    gap: 0px;
  }

}